
{% extends 'base/base.html'%}
{% load static %}
{% block content %}
<main class="single-page-tubers">
    <section class="youtuber-form container mt-5 mb-5">
      <div class="row">
        <form  method="POST" action="{% url 'add_dishes' %}" enctype="multipart/form-data" class="col-md-8 offset-md-2">
            {% csrf_token %}
          <h3 class="pt-2 pb-2">Add the Dishes</h3>
          
          <div class="form-group">
            <input name="dish_name" class="form-control" placeholder="Enter the Dishes name">
          </div>
          <select name="type_of_cuisine" class="form-control">
            <option selected disabled hidden>type_of_cuisine</option>
            {% for type_of_cuisine in select_cuisine %}
              <option value="{{type_of_cuisine}}">{{type_of_cuisine}}</option>
            {% endfor %}
          </select>
          <br><br>
          <div>
            <input type="file" name="myfile">
          </div>  
          <div class="form-group">
            <input name="description" class="form-control" placeholder="you can describe...">
            <br/>
            </div>  
          <div class="form-group">
            <input name="cook_time" type="number" class="form-control" placeholder="enter the time">
          </div>
          
          <div class="text-center">
            <button type="submit" class="btn btn-accent">Submit</button>
          </div>
          

        </form>
      </div>

    </section>

  </main>



{% endblock %}