
{% extends 'base/base.html'%}
{% load static %}
{% block content %}


<section class="search-results container mt-3 grid">
    <!-- person 1 -->
    {% for food in new %}
      <div class="card border-0 text-center  ml-3 mr-3">
        <a href="{% url 'dish_details'  food.id %}">
        <img src="{{food.photo.url}}" class="card-img-top" alt="team-member">
        </a>
        <div class="card-body">
          <h5 class="card-title">Cuisine:{{food.type_of_cuisine}}</h5>
          <p class="card-text">Cook-Time:{{food.cook_time}}hours</p>
          <a  class="btn btn-accent btn-block">{{food.dish_name}}</a>
          <br>
          <div>
            <a href="{% url 'favorite_add' %}" class="btn btn-outline-primary">add to Favorites</a>
            </div>
        </div>
      </div>
      {% endfor %}
   
    </section>

{% endblock %}