
{% extends 'base/base.html'%}
{% load static %}
{% block content %}



<main class="home">
    <br>
     <section class="searchbox container mt-10 ">
      <form method="GET" action="{% url 'search' %}">
        <div class="form-row">
          <div class="form-group col-md-4">
            <select name="type_of_cuisine" class="form-control">
              <option selected disabled hidden>Select Your Favorite Cuisine</option>
              {% for type_of_cuisine in select_cuisine %}
                <option value="{{type_of_cuisine}}">{{type_of_cuisine}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="text-left">
          <button class="btn btn-light">Search</button>
        </div>
      </form>  
    </section>
    

      </main>
    
    


{% endblock %}